<h1>Create new proposal</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'votes:create_proposal' %}" method="post">
  <!-- {% csrf_token %} -->
  <input type="text" name="description" id="description">
  <label for="description">Description</label><br>
  <input type="date" name="startDate" id="startDate">
  <label for="startDate">Start Date</label><br>
  <input type="date" name="endDate" id="endDate">
  <label for="endDate">End Date</label><br>
  <input type="submit" value="Propose">
</form>